.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .draggable-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .padded-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .draggable {
    position: absolute;
    border: 0.75px solid rgba(0,0,0,0.15);
    background: white;
    border-radius: 6px;
    padding: 4px;
  }
  
  .title-bar {
    background: #007bff;
    color: white;
    padding: 5px;
    cursor: move;
    border-radius: 6px;
    border: 0.75px solid black;
  }
  
  .content {
    height: calc(100% - 30px);
    overflow: auto;
    padding: 5px;
  }

  .wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-button-container{
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
